ETCD_NAME={{ inventory_hostname }}
ETCD_DATA_DIR=/var/lib/etcd
ETCD_LISTEN_PEER_URLS=https://{{ k8s_node_ip }}:2380
ETCD_INITIAL_ADVERTISE_PEER_URLS=https://{{ k8s_node_ip }}:2380
ETCD_LISTEN_CLIENT_URLS=https://{{ k8s_node_ip }}:2379,https://127.0.0.1:2379
ETCD_ADVERTISE_CLIENT_URLS=https://{{ k8s_node_ip }}:2379
ETCD_INITIAL_CLUSTER={{ hostvars[groups['etcd'][0]].etcd_initial_cluster | default(etcd_initial_cluster) }}
ETCD_INITIAL_CLUSTER_STATE=new
ETCD_INITIAL_CLUSTER_TOKEN=etcd-cluster-1
