# Managed by Ansible
name: "{{ inventory_hostname }}"
data-dir: "/var/lib/etcd"
listen-peer-urls: "https://{{ cluster_underlay_ip }}:2380"
initial-advertise-peer-urls: "https://{{ cluster_underlay_ip }}:2380"

listen-client-urls: "https://127.0.0.1:2379,https://{{ cluster_underlay_ip }}:2379"
advertise-client-urls: "https://{{ cluster_underlay_ip }}:2379"

initial-cluster: "{{ etcd_initial_cluster }}"
initial-cluster-state: "{{ etcd_initial_cluster_state }}"
initial-cluster-token: "etcd-cluster-1"

# TLS (client)
client-transport-security:
  cert-file: "/etc/etcd/pki/server.crt"
  key-file: "/etc/etcd/pki/server.key"
  client-cert-auth: true
  trusted-ca-file: "/etc/etcd/pki/ca.crt"

# TLS (peer)
peer-transport-security:
  cert-file: "/etc/etcd/pki/peer.crt"
  key-file: "/etc/etcd/pki/peer.key"
  client-cert-auth: true
  trusted-ca-file: "/etc/etcd/pki/ca.crt"

logger: zap
log-level: info
