---
# Cluster unit orchestrator (ordering matters)

- import_playbook: playbooks/00_sudoers.yml
- import_playbook: playbooks/00_preflight.yml
- import_playbook: playbooks/00_fabric_gate.yml
- import_playbook: playbooks/01_apt_repos.yml

- import_playbook: playbooks/01_common.yml
- import_playbook: playbooks/02_containerd.yml
- import_playbook: playbooks/03_k8s_packages.yml

- import_playbook: playbooks/02_etcd_pki.yml
- import_playbook: playbooks/03b_etcd_pki_cp.yml
- import_playbook: playbooks/03_etcd.yml
- import_playbook: playbooks/04_lb.yml

- import_playbook: playbooks/05_cp_init.yml
- import_playbook: playbooks/06_cp_join.yml
- import_playbook: playbooks/07_worker_join.yml

# Add-ons (bootstrap from cp-1)
- import_playbook: playbooks/11_helm.yml
- import_playbook: playbooks/08_cilium.yml
- import_playbook: playbooks/09_ingress.yml
- import_playbook: playbooks/10_monitoring.yml
- import_playbook: playbooks/12_argocd.yml
- import_playbook: playbooks/99_verify.yml

