global:
  scrape_interval: 15s

scrape_configs:
  - job_name: node
    static_configs:
      - targets:
{% for h in (groups['all'] | sort) %}
{% set ip = (hostvars[h].get('node_exporter_ip')
             or hostvars[h].get('underlay_ip')
             or hostvars[h].get('k8s_node_ip')
             or '') %}
{% if ip | string | trim %}
          - "{{ ip }}:{{ node_exporter_port | default(9100) }}"
{% endif %}
{% endfor %}

