
- name: Install nftables
  apt:
    name: nftables
    state: present
    update_cache: true

- name: Render nftables ruleset
  template:
    src: nftables.conf.j2
    dest: /etc/nftables.conf
    owner: root
    group: root
    mode: "0644"
  notify: Reload nftables

- name: Enable and start nftables
  service:
    name: nftables
    state: started
    enabled: true
