
- name: Verify - basic connectivity and services
  hosts: all
  gather_facts: false
  become: true
  tasks:
    - name: Show hostname
      command: hostname -f
      register: hn
      changed_when: false
    - debug:
        var: hn.stdout
