- name: Show nodes
  command: kubectl get nodes -o wide
  register: nodes
  changed_when: false

- debug:
    var: nodes.stdout_lines

- name: Assert all InternalIP are 10.100.10.x
  shell: |
    kubectl get nodes -o jsonpath='{range .items[*]}{.metadata.name}{" "}{.status.addresses[?(@.type=="InternalIP")].address}{"\n"}{end}' \
      | awk '$2 !~ /^10\.100\.10\./ {bad=1; print "BAD:", $0} END{exit bad}'
  changed_when: false

- name: Check coredns pods
  shell: "kubectl -n kube-system get pods -l k8s-app=kube-dns -o wide"
  changed_when: false
