- name: Set effective Kubernetes node IP
  set_fact:
    k8s_node_ip: "{{ k8s_node_ip | default(ansible_default_ipv4.address) }}"
  changed_when: false

- name: Read worker join command from cp1
  set_fact:
    join_worker_cmd: "{{ hostvars['cp-1.unixbox.net'].join_worker.stdout }}"

- name: Join worker to cluster
  shell: >
    {{ join_worker_cmd }}
    --node-name {{ inventory_hostname }}
  args:
    creates: /etc/kubernetes/kubelet.conf

