- name: Add ingress-nginx repo
  command: helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
  changed_when: false

- name: Update helm repos
  command: helm repo update
  changed_when: false

- name: Install ingress-nginx (NodePort first pass)
  command: >
    helm upgrade --install ingress-nginx ingress-nginx/ingress-nginx
    --namespace ingress-nginx --create-namespace
    --set controller.service.type=NodePort
  changed_when: true

- name: Wait for ingress controller rollout
  shell: kubectl -n ingress-nginx rollout status deploy/ingress-nginx-controller --timeout=300s
  changed_when: false
