- name: Install containerd
  apt:
    name: containerd
    state: present
    update_cache: yes

- name: Ensure containerd config directory
  file:
    path: /etc/containerd
    state: directory
    mode: "0755"

- name: Generate default config if missing
  shell: "containerd config default > /etc/containerd/config.toml"
  args:
    creates: /etc/containerd/config.toml
  notify: restart_containerd

- name: Enable SystemdCgroup
  replace:
    path: /etc/containerd/config.toml
    regexp: 'SystemdCgroup = false'
    replace: 'SystemdCgroup = true'
  notify: restart_containerd

- name: Enable and start containerd
  service:
    name: containerd
    enabled: true
    state: started
