apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
kubernetesVersion: "{{ k8s_version | default('stable') }}"
controlPlaneEndpoint: "{{ k8s_api_endpoint }}:6443"
networking:
  podSubnet: "{{ k8s_pod_cidr }}"
  serviceSubnet: "{{ k8s_svc_cidr }}"
etcd:
  external:
    endpoints:
{% for ep in etcd_endpoints %}
      - "{{ ep }}"
{% endfor %}
    caFile: /etc/kubernetes/pki/etcd/ca.crt
    certFile: /etc/kubernetes/pki/apiserver-etcd-client.crt
    keyFile: /etc/kubernetes/pki/apiserver-etcd-client.key
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ k8s_node_ip }}"
  bindPort: 6443
nodeRegistration:
  name: "{{ inventory_hostname }}"
  kubeletExtraArgs:
    node-ip: "{{ k8s_node_ip }}"
