[ req ]
default_bits       = 2048
prompt             = no
default_md         = sha256
req_extensions     = v3_req
distinguished_name = dn

[ dn ]
CN = etcd-3.unixbox.net

[ v3_req ]
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment

extendedKeyUsage = serverAuth, clientAuth

subjectAltName = @alt_names

[ alt_names ]
DNS.1 = etcd-3.unixbox.net
DNS.2 = etcd-3
DNS.3 = localhost
IP.1  = 10.100.10.212
IP.2  = 10.78.0.13
IP.3  = 127.0.0.1

