# inventory/group_vars/all.yml

# Global defaults (safe)
k8s_cluster_name: "kubedos"

# If host_vars doesn't define k8s_node_ip, we default to the primary ipv4 addr
k8s_node_ip_default: "{{ ansible_default_ipv4.address }}"

# Kubernetes versions (adjust if needed)
k8s_version: "1.30.0"
containerd_version: "1.7"

# Basic network settings
pod_cidr: "10.244.0.0/16"
service_cidr: "10.96.0.0/12"

# Load balancer VIP (if you use one)
# k8s_apiserver_vip: "10.100.10.250"

# HAProxy frontend bind port
k8s_apiserver_port: 6443

# DNS
cluster_dns: "10.96.0.10"

# Prevent accidental wg-plane binding
k8s_prefer_wg_planes: false

# Misc
apt_update_cache: true

